<!DOCTYPE html>
<html>
<head>
    
    <!-- <title> Lista de Tareas </title>


     <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>


      <link rel="stylesheet"      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



    <script src="https://unpkg.com./vue"></script> -->

    <title>Lista de Tareas</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="estilos.css">




</head>
<body class="container">
 
   <div id="app" class="jumbotron">
       <h2> {{titulo}} </h2>
       <div class="input-group">
       
		 <input type="text" 
          placeholder="Escribe una nueva tarea" 
          v-model="nuevaTarea"
          class="form-control"
          v-on:keyup.enter="agregarTarea">
		 
		 
		 

         <span class="input-group-btn">  

          <button type="button" v-on:click="agregarTarea()" class = "btn btn-primary" >Agregar Tarea</button>

         </span>

      </div>

       <ul class="list-group">
          <li v-for= "(tarea, indice) of tareas" class="list-group-item" v-bind:class="{terminada: tarea.terminada}">

            {{tarea.texto}}

            <span class="pull-right">  

              <button type="button" class="btn btn-success btn-xs glyphicon glyphicon-ok"
              v-on:click="tarea.terminada = !tarea.terminada">
              </button>

              <button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-remove"
                v-on:click="borrar(indice)"       
        ></button>
    
            </span>
          </li>
 
       </ul>

       



   </div>

   <script src="vue.js"></script>
    
</body>
</html>